@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
 ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
} 
html,body{width: 100vw;
    height: 100vh;
    

}
img {
    width: 100%;
    margin-bottom: -5px;
}

a {
    background-color: darkred;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.6em;
    padding: 10px;
    /* Margin top -5px,pode ser tbm */
    

}
a:hover{background-color: red;
    transition: 1s;

}